<template>
  <div class="bg-gray-900 h-screen">
    <div class="flex" style="height: 88vh;">
      <div class="w-56 bg-black h-full flex-none">
        <div class="p-6">
          <img class="h-10" src="SpotifyLogo.png" alt="" style="filter: brightness(0) invert(1);"/>
        </div>
        <div class="mx-2 mb-4">
          <button 
            v-for="page in pages"
            :key="page.name"
            @click="setID = page.id"
            :class="`w-full focus:outline-none 
                text-sm font-semibold 
                rounded px-3 
                py-2 flex 
                items-center 
                justify-start ${setID === page.id ? 'bg-gray-900 text-gray-100' : 'text-white opacity-75'}`"
            
          >
          <i class="material-icons mr-3">{{ page.icon }}</i>
          <p>{{ page.name }}</p>
            
            
          </button>
        </div>
        <div class="mx-5">
          <h1 class="text-sm 
              mb-3
              text-gray-100 
              tracking-widest 
              uppercase"
          >Playlists
          </h1>
          <button class="flex focus:outline-none items-center justify-start mb-2">
            <img src="AddNew.png" class="h-8 w-8 mr-3" alt=""/>
            <p class="text-sm text-white semibold opacity-75 hover:opacity-100">Create Playlist</p>
          </button>
          <button class="flex focus:outline-none items-center justify-start">
            <img src="favorites.png" class="bg-gray-100 h-8 w-8 mr-3" alt=""/>
            <p class="text-sm text-white semibold opacity-75 hover:opacity-100">Liked Songs </p>
          </button>
          <div class="h-px w-full bg-gray-600 my-3">

          </div>
        </div>
        <div class="mx-5">
          <div class="w-full h-10 overflow-y-scroll">
              <p class="text-gray-400 
                hover:text-white 
                text-sm 
                py-1"
                v-for="album in albums"
                :key="album">
                {{ album.name }}
              </p>
          </div>
          <button
              class="focus:outline-none flex items-center 
                justify-start
                text-gray-400
                hover:text-white
                py-2"
              
            >
            <i class="material-icons mr-3 rounded-full border border-gray-400">arrow_downward</i>
            <p class="text-sm font-semibold">Intall App</p> 
          </button>
        </div>
        
      </div>
      <div class="w-full h-full relative overflow-y-scroll">
        <div class="w-full sticky top-0 py-4 px-6 flex items-center justify-between bg-black">
          <div class="flex items-center">
            <button class="rounded-full text-3xl bg-black w-8 h-8 text-white mr-3">
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
            <button class="rounded-full text-3xl bg-black w-8 h-8 text-white">
              <i class="material-icons">keyboard_arrow_right</i>
            </button>
          </div>
          <div class="relative">
            <button @click="showDropdown = true" class="bg-gray-800 focus:outline-none rounded-full p-1 flex items-center">
              <img src="myThanos.jpeg" class="w-8 h-8 rounded-full mr-2" alt="">
              <p class="text-white font-semibold text-xs" mr-3>Mumbere Arnold</p>
              <i v-if="showDropdown === false" class="material-icons text-white">arrow_drop_down</i>
              <i v-if="showDropdown === true" class="material-icons text-white">arrow_drop_up</i>
           </button>
           <div v-if="showDropdown === true" class="absolute bg-gray-800  w-full rounded mt-1">
              <button @click ="showDropdown = false" class="focus:outline-none w-full text-sm py-2  hover text-white border-b border-gray-500 opacity-75 hover:bg-opacity-100">
                Accoount
              </button>
              <button @click ="showDropdown = false" class="focus:outline-none w-full text-sm py-2  hover text-white border-b border-gray-500 opacity-75 hover:bg-opacity-100">
                Log Out
              </button>
           </div>
          </div>
        </div>
        <div class="px-6 py-3">
          <div class="px-6 py3 flex items-center justify-between">
            <h1 class="pl-2 text-2xl font-semibold text-white tracking-wider hover:underline">Recently played</h1>
            <h2 class="pr-8 pt-4 text-gray-400 uppercase tracking-wider hover:underline mb-3">See All</h2>
          </div>
            <div class="w-full flex flex-wrap">
              <div v-for="recent in recents" :key="recent" class="p-2 w-48 relative">
                
                <div class="absolute w-full h-full flex items-end justify-end p-8 opacity-0 hover:opacity-100">
                  <div class="bg-green-900 rounded-full flex w-10 h-10 items-center justify-center">
                    <i class="material-icons text-white text-2xl">play_arrow</i>
                  </div>
                </div>
                <div class="bg-gray-800 w-full h-auto p-5 rounded-md shadow-md">
                  <img :src="recent.src" class="h-auto w-full shadow mb-2" alt="">
                  <h1 class="text-sm font-semibold text-white tracking wide">{{ recent.title }}</h1>
                  <h2 class="text-xs text-gray-300 tracking-wide pb-5">{{ recent.artist }}</h2>
                </div>
              </div>
            </div>
         </div>
         <div class="px-6 py-3">
           <div class="px-6 py3">
              <h1 class="text-2xl font-semibold text-white tracking-wider hover:underline">Made For Mumbere</h1>
              <h2 class="text-sm text-gray-400">Get better recommendations for the more you listen</h2>
           </div>
           <div class="w-full flex flex-wrap">
              <div v-for="custom in customs" :key="custom" class="p-2 w-48 relative">
                <div class="absolute w-full h-full flex items-end justify-end p-8 opacity-0 hover:opacity-100">
                  <div class="bg-green-900 rounded-full flex w-10 h-10 items-center justify-center">
                    <i class="material-icons text-white text-2xl">play_arrow</i>
                  </div>
                </div>
                <div class="bg-gray-800 w-full h-auto p-5 rounded-md shadow-md">
                  <img :src="custom.src" class="h-auto w-full shadow mb-2" alt="">
                  <h1 class="text-sm font-semibold text-white tracking wide">{{ custom.title }}</h1>
                  <h2 class="text-xs text-gray-300 tracking-wide pb-5">{{ custom.artist }}</h2>
                </div>
              </div>
            </div>
         </div>
         
         <div class="px-6 py-3">
           <div class="px-6 py3">
              <h1 class="text-2xl font-semibold text-white tracking-wider hover:underline">Made For Mumbere</h1>
              <h2 class="text-sm text-gray-400">Get better recommendations for the more you listen</h2>
           </div>
           <div class="w-full flex flex-wrap">
              <div v-for="custom in customs" :key="custom" class="p-2 w-48 relative">
                <div class="absolute w-full h-full flex items-end justify-end p-8 opacity-0 hover:opacity-100">
                  <div class="bg-green-900 rounded-full flex w-10 h-10 items-center justify-center">
                    <i class="material-icons text-white text-2xl">play_arrow</i>
                  </div>
                </div>
                <div class="bg-gray-800 w-full h-auto p-5 rounded-md shadow-md">
                  <img :src="custom.src" class="h-auto w-full shadow mb-2" alt="">
                  <h1 class="text-sm font-semibold text-white tracking wide">{{ custom.title }}</h1>
                  <h2 class="text-xs text-gray-300 tracking-wide pb-5">{{ custom.artist }}</h2>
                </div>
              </div>
            </div>
         </div>
       </div>  
       
    </div>

    <div class="w-full flex items-center justify-between border-t border-black px-3 bg-gray-900" style="height: 12vh;">
     <div class="flex items-center w-1/4">
       <div>
         <h1 class=" text-sm text-white tracking-wide"> Jerusalema - Remix</h1>
         <h2 class="text-xs text-white tracking-wide">ft Burna Boy</h2>
       </div>
       <i class="material-icons txt-base text-green-600 hover:text-white mx-4">favorite</i>
       <i class="material-icons text-base text-gray-300 hover:text-white">picture_in_picture</i>
     </div>
     <div class="flex flex-col justify-center w-2/4 items-center">
       <div class="flex items-center">
         <button class=" mx-5 text-gray-500 hover:text-white">
           <i class="material-icons text-lg">shuffle</i>
         </button>
         <button class="focus:outline-none  text-gray-500 hover:text-white">
           <i class="material-icons text-lg">skip_previous</i>
         </button>
         <button @click.prevent="playSong('jerusalema.mp3'), pause=true" class="focus:outline-none rounded-full h-8 w-8 flex items-center justify-center mx-5 border-gray-500 border text-gray-500 hover:text-white">
           <i class="focus:outline-none material-icons" v-if="pause===false">play_arrow</i>
           <i class="focus:outline-none material-icons" v-if="pause===true">pause</i>
         </button>
         <button class="focus:outline-none  text-gray-500 hover:text-white">
           <i class="material-icons text-lg">skip_next</i>
         </button>
         <button class="focus:outline-none mx-5  text-gray-500 hover:text-white">
           <i class="material-icons text-lg">repeat</i>
         </button>
       </div>
       <div class="w-3/4 flex items-center mt-3">
         <p class="text-sm text-gray-400 mr-2">0:40</p>
         <div class="w-full h-1 bg-black rounded-full flex items-center">
           <div class="h-1 rounded-full bg-green-400" style="width:30%;">
            
           </div>
           <div class="w-3 h-3 rounded-full bg-white -ml-1 shadow">

           </div>
           
         </div>
         <p class="text-sm text-gray-400 ml-2">4:33</p>
       </div>
     </div>
      <div class="flex items-center w-1/4 justify-end">
        <i class="material-icons txt-base text-gray-500 hover:text-white">playlist_play</i>
        <i class="material-icons txt-base text-gray-500 hover:text-white mx-3">important_devices</i>
        <i class="material-icons txt-base text-gray-500 hover:text-white">volume_up</i>
        <div class="w-20 ml-1 bg-gray-500 rounded-full h-1">

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  
  name: 'App',
  data: function()  {
    return {pages: [
      {id: 'home', name: 'Home', icon: 'home'},
      {id: 'search', name: 'Search', icon: 'search'},
      {id: 'library', name: 'Your library', icon:'bar_chart'},
    ],
    setID: 'home',
    albums: [
        {name: 'drive'},
        {name: 'zhu'},
        {name: 'All New Indie'},
        {name: 'Mellow'},
        {name: 'Classic Road Trip Songs'},
        {name: 'Lana Del Rey'},
        {name: 'Avicci Essentials'},
      ],
      showDropdown: false,
      recents: [
        {src: 'hip-hop.png', title: 'Daily Mix 2', artist: 'By Musole'},
        {src: 'album-sales.jpg', title: 'Daily Mix 3', artist: 'By Musole'},
        {src: 'hip-hop.png', title: 'Gradia Music Radio', artist: 'By Musole'},
        {src: 'album-sales.jpg', title: 'Janvier Podcast', artist: 'By Musole'},
        {src: 'hip-hop.png', title: 'Hugues Love', artist: 'By Musole'},
         //{src: 'album-sales.jpg', title: 'Clovis Folie', artist: 'By Musole'},
      ],
      customs: [
        {src: 'hip-hop.png', title: 'Daily Mix 3', artist: 'By Mohammed'},
        {src: 'album-sales.jpg', title: 'Daily Mix 4', artist: 'By Mohammed'},
        {src: 'hip-hop.png', title: 'Mumbere Podcast', artist: 'By Mohammed'},
        {src: 'album-sales.jpg', title: 'Mumbere At Home', artist: 'By Mohammed'},
        {src: 'album-sales.jpg', title: 'Wanny Breakfast', artist: 'By Mohammed'},
        //{src: 'hip-hop.png', title: 'Marvin Mix', artist: 'By Mohammed'},
      ],
      pause: false

    }
  },
  components: {
    
  },
  methods: {
    playSong(song){
      if(song){
        var audio = new Audio(song);
        audio.play();
      }
    }
  }
}
</script>

<style lang="scss">
</style>
