<div class="mx-5">
            <div class="w-full h-10 overflow-y-scroll">
              <p class="text-gray-400 
                hover:text-white 
                text-sm 
                py-1"
                v-for="album in albums"
                :key="album">
                {{ album.name }}
              </p>
            </div>
            <button
              class="flex items-center 
                justify-start
                text-gray-400
                hover:text-white
                py-2"
              
            >
              <img class="rounded-full border-gray-400 h-8 w-8 mr-3" src="intallApp.jpg" alt="">
             <p class="text-sm font-semibold">Intall App</p> 
            </button>
          </div>

        </div>
        <div class="relative pt-4">
          <div class="w-full h-full flex justify-end items-start bg-yellow-500 absolute">
            <div class="bg-black rounded-full h-8 w-8">
              
            </div>
          </div>
          <img src="playin.png" alt=""/>
        </div>